name: Generate Streak Stats

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Streak Stats
        uses: DenverCoder1/github-readme-streak-stats@master
        with:
          token: ${{ secrets.PAT_1 }}
          user: zappybird
          theme: onedark
          hide_border: true
