name: Generate Trophy

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Trophy
        uses: ryo-ma/github-profile-trophy@master
        with:
          username: zappybird
          theme: onedark
          margin-w: 15
          margin-h: 15
